.emailLsit {
  flex: 1;
  overflow: scroll;
}

.emailLsit::-webkit-scrollbar {
  display: none;
}

.emailLsit__setting {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}
.emailLsit__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}
